In [1]:
'''Получите данные по безработице в Москве:
https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv
Найдите, с какого года процент людей с ограниченными возможностями (UnemployedDisabled)
среди всех безработных (UnemployedTotal) стал меньше 2%'''

import pandas as pd

def rate_UD(x):
    return x[6] /x[7] < 0.02

data = pd.read_csv('https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv', delimiter=';')

data = data[data.apply(rate_UD, axis=1)]
data.head(1)

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Period,Unnamed: 9
91,894075540,96,2018,10651,14043,2829,472,24694,Сентябрь,NaN